#hud {
	padding: 3rem 4rem;
	z-index: 1;

	#hud-top-bar {
		color: var(--red);
		font-family: var(--font-button);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#hud-score {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--dirt-white);
		padding: 1rem 1.5rem;
		text-align: left;
		gap: 0.25rem;
		border-radius: 1.25rem;
	}

	#hud-score-label {
		font-size: 0.6rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	#hud-score-value {
		font-size: 2rem;
		font-weight: 700;
		font-variant-numeric: tabular-nums;
	}

	#hud-lives {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background-color: var(--dirt-white);
		border-radius: 1.25rem;
		padding: 1rem 1.5rem;

		svg {
			width: 1.5rem;

			path {
				fill: var(--red);
			}
		}

		&[data-lives='0'],
		&[data-lives='1'],
		&[data-lives='2'] {
			svg:nth-child(3) {
				opacity: 0.3;
			}
		}

		&[data-lives='0'],
		&[data-lives='1'] {
			svg:nth-child(2) {
				opacity: 0.3;
			}
		}

		&[data-lives='0'] {
			svg:nth-child(1) {
				opacity: 0.3;
			}
		}
	}
}
