:root {
	--red: #c06840;
	--peach: #e8664a;
	--blue: #7abfbf;
	--orange: #e8a060;
	--dirt-white: #f2ecd8;
	--text: #6b6375;
	--white: #f1f2f3;
	--border: rgb(77, 77, 77);
	--bg: #000;

	--font-heading: 'Outfit', sans-serif;
	--font-button: 'Sora', sans-serif;

	font-family: var(--font-sans);
	line-height: 1;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: 0;
}

#app {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 100svh;
	display: grid;
	box-sizing: border-box;
	overflow: hidden;

	> * {
		grid-area: 1 / 1 / 2 / 2;
		position: relative;
	}

	canvas {
		z-index: 0;
	}
}

#main-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

#hud {
	display: none;
	z-index: 1;
	pointer-events: none;
	padding: 1rem;
}

#score {
	font-size: 4rem;
	color: var(--white);
	display: inline-block;
	-webkit-text-stroke: round(up, 0.05em, 1px) var(--border);
}
