:root {
	--text: #6b6375;
	--white: #f1f2f3;
	--border: rgb(77, 77, 77);
	--bg: #000;

	--font-sans: 'Bungee', Roboto, sans-serif;
	--font-heading: 'Bungee', Roboto, sans-serif;
	--font-mono: ui-monospace, Consolas, monospace;

	font-family: var(--font-sans);
	line-height: 1;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#app {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 100svh;
	display: grid;
	box-sizing: border-box;
	overflow: hidden;

	> * {
		grid-area: 1 / 1 / 2 / 2;
		position: relative;
	}

	canvas {
		z-index: 0;
	}
}

#hud {
	display: none;
	z-index: 1;
	pointer-events: none;
	padding: 1rem;
}

#score {
	font-size: 4rem;
	color: var(--white);
	display: inline-block;
	-webkit-text-stroke: round(up, 0.05em, 1px) var(--border);
}
